<mat-toolbar>
  <button  mat-icon-button class="example-icon" 
  aria-label="Example icon-button with menu icon"
  (click)="drawer.toggle()" [disabled] = "!isLoggedIn">
   <mat-icon>menu</mat-icon>
 </button>

 <span class = "logoC">AV : Create Angular Project</span>
 <span class="example-spacer"></span>


 <div *ngIf = "isLoggedIn" class = "welcome-mssg">
  <span style="text-align: end; font-size: smaller;">{{currentDate | date: 'fullDate'}}</span>
  <span > {{welcomeMssg}}</span>
 </div>
    <button *ngIf = "!isLoggedIn" mat-stroked-button color="accent"><a [routerLink] = "['/userLogin']">Login In</a></button>
    <span class = "gap-10px"></span>
    <button *ngIf = "!isLoggedIn" mat-stroked-button color="accent"><a [routerLink] = "['/userRegister']">Sign Up</a></button>

</mat-toolbar>

<mat-progress-bar
          [color]="color"
          [mode]="mode"
          [value]="value"
          [bufferValue]="bufferValue">
      </mat-progress-bar>