.logoC {
  margin-left: 5px;
  font-size: large;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.example-spacer {
  flex: 1 1 auto;
}


.gap-10px {
  width: 10px;
}

.welcome-mssg {
  font-size: small;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  
}

.welcome-mssg span {
  display: block;
}

button a {
  text-decoration: none;
  color: inherit;
}