<mat-drawer-container class="example-container" autosize>

  
  <mat-drawer #drawer class="example-sidenav" mode="side">
    <app-user-card-m></app-user-card-m>
    <app-side-menu-comp></app-side-menu-comp>
  </mat-drawer>

  <div class="example-sidenav-content">
    <div class = "toolBarFix">
      <app-tool-bar-comp [drawer] = "drawer"></app-tool-bar-comp>
    </div>
   
    <div class= "loginCarDC">
      <app-login-card></app-login-card>
    </div>
  </div>
</mat-drawer-container>

<!-- <p>

</p> -->

